@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="background-color:wheat; color:lightseagreen" class="display-4"><b><ins>Добро пожаловать на сайт имен</ins></b></h1>
    <p style="color:darkblue" align="center">
        Возникновение имен покрыто тайной, как и возникновение названий окружающего нас мира. 
        Однако, с момента, когда имена начали упоминаться в различных легендах, былинах, сказках, 
        люди придавали им большое значение. Они напрямую связывали ожидаемые качетсва ребенка, его судьбу с даваемым именем.
        На нашем сайте вы найдете информацию по именам, используемым Православной церквью на территории России и Белоруссии.
        Нередко, люди имеют два имени. Первое имя записывается в свидетельство о рождении, а второе дается при крещении.
        Жестких правил имен, даваемых при крещении не существует на сегодняшний день. Наиболее часто, ребенку дают имя 
        святого и/или мученника, упоминаемого в день крещения в церковных святцах. Однако, иногда люди дают имя в честь 
        конкретного почитаемого ими святого и/или мученника. Единствееное правило, которое неукоснительно соблюдается всегда: 
        имя должно быть в святцах.
        В современном мире, родители все чаще хотят дать своим детям необычные имена. Вы удивитесь, сколько забытых красивых
        имен с глубоким смыслом существует в святцах. Данный сайт поможет вам с выбором имени ребенка, а так же с напоминанием,
        кого можно поздравить с именинами. Можно с уверенностью сказать, что человек, которого вы поздравите с именинами, 
        будет впечатлен и относиться к вам будет лучше, чем до момента поздравлений. Информация для данного сайта собиралась 
        по крупицам из различных источников, поэтому, найдя интересующее вас имя, обязательно еще раз поищите информацию о нем.
        В случае обнаружения неточности, или желания добавить новое имя: воспользуйтесь соответствующим сервисом данного сайта.
    </p>
</div>
